<template>
  <v-app dark>
    <main-header />
    <Nuxt />
  </v-app>
</template>

<script>
import MainHeader from "../components/main-header.vue";

export default {
  name: "MainLayout",
  components: {
    MainHeader: () => import("../components/main-header.vue")
  }
};
</script>
