<template>
  <v-container>
    <h3>{{ hero.title }}</h3>
    <p>{{ hero.description }}</p>
    <v-img lazy-src="https://via.placeholder.com/150" :src="fullImage"></v-img>
  </v-container>
</template>

<script>
export default {
  props: {
    hero: {
      type: Object,
      required: true
    }
  },
  data: () => ({}),

  mounted() {},
  computed: {
    fullImage() {
      return `${process.env.API_URL}${this.hero.image[0].url}` || "";
    },
    thumbnailImage() {
      return (
        `${process.env.API_URL}${this.hero.image[0].formats.thumbnail.url}` ||
        ""
      );
    }
  },
  methods: {}
};
</script>
